@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --customColor1: #1e3a8a;
  --customColor2: #2563eb;
  --customBg1: #f5f5f5;
  --textColor1: #111827;
  --accentColor1: #f59e0b;
  --neutralColor: #fce4be;
}
