.universityHeader-container {
  /* border: solid red; */
  width: 100%;
  height: 600px;
  position: relative;
}
.universityHeader-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.universityHeader-cover {
  /* border: solid green; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 20px;
}
.universityHeader-content {
  /* border: solid blue; */
  width: 48%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.universityHeader-content:nth-child(2) {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.universityHeader-content > h6 {
  color: var(--accentColor1);
  font-size: 22px;
  font-weight: bold;
}
.universityHeader-content > h2 {
  color: var(--customColor2);
  font-size: 50px;
}
.universityHeader-content > p {
  color: white;
  font-size: 20px;
}
.universityHeader-content > ul {
  margin: 0;
  padding: 0;
  /* border: solid yellow; */
}
.universityHeader-content > ul > li {
  border: solid white;
  list-style: none;
  background-color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.universityHeader-content > ul > li > img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.universityHeader-btnContainer {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
/* .universityHeader-btnContainer > button {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--accentColor1);
  border: none;
  color: white;
  width: 200px;
  font-weight: bold;
  &:hover {
    background-color: #ffac1d;
  }
} */
.universityHeader-btnContainer > a > button {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  color: white;
  border: solid 2px var(--accentColor1);
  color: white;
  width: 200px;
  font-weight: bold;
  transition: 1s ease;
  &:hover {
    border: solid 2px var(--accentColor1);
    background: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
  }
}
.button-87 {
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
.universityHeader-content > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.universityHeader-content > ul>li{
    border: none;
    border-radius: 20px;
    color: var(--accentColor1);
    background-color: var(--customBg1);
    padding: 5px 10px;
}
@media screen and (max-width: 768px) {
  .universityHeader-container {
    /* border: solid red; */
    width: 100%;
    height: 100%;
    background-color: var(--customColor1);
  }
  .universityHeader-cover {
    /* border: solid green; */
    position: static;
    flex-direction: column;
  }
  .universityHeader-content {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
  }
  .universityHeader-content > h6 {
    color: var(--accentColor1);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .universityHeader-content > h2 {
    color: var(--customColor2);
    font-size: 30px;
    text-align: center;
  }
  .universityHeader-content > p {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .universityHeader-content:nth-child(2) {
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .universityHeader-content > ul {
    margin: 0;
    padding: 0;
    /* border: solid yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .universityHeader-btnContainer {
    /* border: solid red; */
    flex-direction: column;
    gap: 20px;
  }
}
.form-wrapper {
  width: 420px;
  margin: 40px auto;
  padding: 30px 25px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  /* border: 3px solid #2746c7; */
}

.form-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--accentColor1);
  margin-bottom: 25px;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-form input,
.info-form select {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border-radius: 12px;
  border: 1.5px solid #d0d7e2;
  outline: none;
  transition: border 0.2s ease;
}

.info-form input::placeholder {
  color: #9aa4b2;
}

.info-form input:focus,
.info-form select:focus {
  border-color: #2746c7;
}

.submit-btn {
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: var(--accentColor1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
    border: solid var(--accentColor1);

}

.submit-btn:hover {
  background: white;
  color: var(--accentColor1);
}
