.onlineMbaReason-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.onlineMbaReason-content {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.onlineMbaReason-content > h2 {
  font-size: 40px;
  color: #222;
  text-align: center;
  width: 70%;
}

.onlineMbaReason-content > h2 > span {
  color: var(--accentColor1);
}
.onlineMbaReason-content > p {
  width: 80%;
  text-align: center;
  font-size: 18px;
}
.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 60px auto;
  padding: 0 20px;
}

.benefit-box {
  background: var(--neutralColor);
  border: 2px dashed #4c4c4c;
  border-radius: 8px;
  padding: 25px 30px;
  transition: all 0.3s ease;
  margin: 10px;
  width: 80%;
}

.benefit-box:hover {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}

.benefit-box h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.benefit-box p {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 768px) {
  .benefit-box {
    padding: 20px;
  }
  .benefit-box h3 {
    font-size: 16px;
  }
  .benefit-box p {
    font-size: 14px;
  }
  .onlineMbaReason-container {
  /* border: solid red; */

  padding: 20px;
}
.onlineMbaReason-content > h2 {
  font-size: 30px;
  color: #222;
  text-align: center;
  width: 100%;
}
.onlineMbaReason-content > p {
  width: 100%;
  text-align: justify;
  font-size: 18px;
}
.benefit-box {
  width: 100%;
  max-width: 400px;
}
}
